<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">ユーザー情報の編集</div>
  </div>
     <div class="panel-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label for="user_email">メールアドレス</label> <br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <label for="user_password">新しいパスワード</label> <i>(変更したくない場合は、パスワードを入力しないでください。)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="user_password_confirmation">もう一度同じパスワードを入力してください。</label> <br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="user_current_password">現在のパスワード</label> <br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: 'btn btn-info' %>
  </div>
<% end %>

</div>
</div>
