<nav class="navbar navbar-inverse navbar-fixed-top navbar-fixed-top-under" role="navigation">
  <div class="container">
    <div class="container-fluid">

    <div class="navbar-header">
       <ul class="nav navbar-nav nav-justified" id="NavbarContent">
				<li><a href="">Top</a></li>
				<li><a href="">最新</a></li>
				<li><%= link_to '参加済', rooms_checked_path %></li>
				<li><%= link_to '申請中', rooms_pending_path %></li>
		   </ul>
		</div>
		</div>
  </div>
</nav>
<div class="title-box">
	<h2>部屋一覧</h2>
</div>
<div class="row">
	<div class="col-lg-6">
		<% @checked_rooms.each do |room| %>
		<div class="room-info-panel">
			<h2 class="room-title"><%= link_to room.title, room %></h2>
			<div class="image-box">
				<img src="" alt="" width="170" height="200">
			</div>
			<div class="description">
				<p><%= room.message %></p>
				<p><%= room.amount %></p>
				<p><%= room.address %></p>
				<button type="button" class="btn btn-primary btn-sm">
					参加
				</button>
			</div>
		</div>
		<% end %>
	</div>
</div>
