<nav class="navbar navbar-inverse navbar-fixed-top navbar-fixed-top-under" role="navigation">
  <div class="container">
    <div class="container-fluid">

    <div class="navbar-header">
       <ul class="nav navbar-nav nav-justified" id="NavbarContent">
                <li><a href="">Top</a></li>
                <li><%= link_to '最新', :rooms %></li>
                <li><%= link_to '参加済', :rooms_checked %></li>
                <li><%= link_to '申請中', :rooms_pending %></li>
       </ul>
    </div>
    </div>
  </div>
</nav>
<div class="title-box">
    <h2>部屋一覧</h2>
</div>
<div class="row">
    <% @rooms.each do |room| %>
    <div class="col-lg-6">
        <div class="room-info-panel">
            <h2 class="room-title"><%= link_to room.title, room %></h2>
            <div class="image-box">
                <img src="" alt="" width="170" height="200">
            </div>
            <div class="description">
                <p>オーナー: <br>
                    <% if room.user_id %>
                        <%= room.get_user_email(room.user_id) %>
                    <% else %>
                        <%= "-" %>
                    <% end %>
                </p>
                <p>詳細内容: <br>
                    <%= room.message %>
                </p>
                <p>募集人数: <br>
                    <%= room.amount %>
                </p>
                <p>住所: <br>
                    <%= room.address %>
                </p>
                <%= link_to :new_booking do %>
                <% end %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <% end %>
</div>
