<%= form_for @room do |room| %>
<%= hidden_field_tag "room[user_id]", current_user %>

<div class="">
	<%= room.label :amount, "最大人数" %>
	<%= room.text_field :amount %>
</div>

<div class="">
	<%= room.label :price, "価格" %>
	<%= room.text_field :price %>
</div>

<div class="">
	<%= room.label :message, "一言" %>
	<%= room.text_field :message %>
</div>

<div class="">
	<%= room.label :address, "住所" %>
	<%= room.text_field :address %>
</div>

<div class="field">
  <%= room.label :filename %><br>
  <%= room.file_field :image %>
</div>

	<%= room.label :title, "部屋名" %>
	<%= room.text_field :title %>

<div class="">
	<%= room.submit "登録する" %>
</div>

<% end %>
